<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drawable Canvas</title>
    <style>
        canvas {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <canvas id="drawingCanvas" width="800" height="600"></canvas>
    <script src="{% static 'drawing/pointlogic.js' %}"></script>
    <button type="reset" id="resetButton">Reset Canvas</button>
    <button type="button" id="getPointsButton">Get Points</button>

</body>
</html>
